 <div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">绿营</h1>
       <p class="slogan">绿营 是一个为公益组织培训志愿者的网站。
        <br>
        我们希望藉由这个网站，帮助每一个公益组织和志愿者实现自己的梦想
        <br>
        让这个更美好的世界出现在眼前
       </p>
       <p class="lead">
         <%= link_to '加入改变世界', jobs_path, class: 'btn btn-danger' %>
       </p>
    </div>
   </div>
 </div>

   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://r.photo.store.qq.com/psb?/V132ncpc31wW3V/xbC6JnFNrnRxBVor4YnHrBT4cUrFJQRfjZsz7jxHwlE!/r/dN8AAAAAAAAA">
             <div class="caption">
               <h3>教材应用实际</h3>
                  <div class="caption">
                  <h4>管理术语太难懂？理论问题太深奥？我们总结多年的公益组织运营经验，将管理学理论与具体公益服务相结合，帮你快速理解实践，降低了学习门槛</h4>
                  </div>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://r.photo.store.qq.com/psb?/V132ncpc31wW3V/andNdp9ALEjFzCBD1cmAT6K3tSM5G.Sg9gc6rxRJVJg!/r/dN8AAAAAAAAA" alt="bid" class = "img-thumbnail">
               <div class="caption">
               <h3>职业管理培训师全程指导</h3>
                  <div class="caption">
                    <h4>学习过程中配备了专业的管理培训师帮助你排除学习中遇到的任何问题</h4>
                  </div>
               </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://r.photo.store.qq.com/psb?/V132ncpc31wW3V/7phgrRLC3Ma*xkZAgD9uWYhWAs.qzKEKsNoENOIKUhE!/r/dIIBAAAAAAAA" alt="heart" class = "img-thumbnail">
             <div class="caption">
               <h3>业界前辈倾心分享</h3>
             </div>
               <div class="caption">
                  <h4>知名慈善组织＊＊＊负责人王爱心与你分享十年公益组织开发／运营／培训／管理经验，让你体验高效管理的乐趣。</h4>
                </div>
           </div>
         </div>
       </div>
     </div>
   </section>
