/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


   //---------Navbar---------

   .navbar-default {    //本段更改导航条
       background-color: #212121;
       border-color: #212121;
       margin-bottom: 0; //改变导航条和下边图形之间的距离
       border-radius: 0;  //更改数值四个角角度会有变化
   }

   .navbar-default .navbar-brand {
       color: #CDDC39;
       padding: 10px 25px; //字体距导航条下端距离&字体距左边距离
       line-height: 30px;   //字体在导航条上下位置&导航条上字体颜色及位置
   }

   .navbar-default .navbar-brand:hover,
   .navbar-default .navbar-brand:focus {
       color: #f44336;
       background-color: transparent;
   }

   .navbar-default .navbar-nav > li > a {
       color: #CDDC39; //右侧邮箱登陆字体颜色 绿色
   }

   .navbar-default .navbar-nav > li > a:hover,
   .navbar-default .navbar-nav > li > a:focus {
       color: #C2185B;  //导航条右侧字体，点击会变色 暗红色
       background-color: transparent;
   }

   .navbar-default .navbar-nav > .active > a,
   .navbar-default .navbar-nav > .active > a:hover,
   .navbar-default .navbar-nav > .active > a:focus {
       color: #303F9F;
       background-color: #303F9F; //蓝色 未知哪里改动
   }

   .navbar-default .navbar-nav > .open > a,
   .navbar-default .navbar-nav > .open > a:focus,
   .navbar-default .navbar-nav > .open > a:hover {
       background-color: #303F9F;//蓝色 未知哪里改动
       color: #303F9F;
   }

//---------Box---------

.box {
  background-image:url('http://r.photo.store.qq.com/psb?/V132ncpc31wW3V/l0CAKIfTz2tBzn62Kh6Pd4nCW18ZnUd3QrFPEh38pFs!/r/dGcBAAAAAAAA');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px; //插入的图片位置
}

  .box-inner {
      background-color: rgba(250, 250, 250, 0.69);
      padding-bottom: 5px;
      margin-top: 150px;
      margin-bottom: 150px;// 增进一个白色底框。。。
  }

.title {
  text-align: center;
  margin-bottom: 80px;
  color: green;  //绿营正中间的标题
}

.slogan {
  color: #222;
  margin-top: 10px;
  margin-bottom: 20px;//字体和按钮之间的距离
  text-align: center;
  font-size: 20px;
  color: black;
  top: 30px;
}  //标题下段字体的颜色

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white; //按钮形状位置字体颜色
}

.caption {
  margin: 15px;
  text-align: center;
  top: 30px;
}  //下边外边框附带的字体位置和大小

.thumbnail {
    border: 0 none;
    box-shadow: 0 none;
    margin-top: 70px;
} //下方图标的外边框

//---------Footer---------

  footer {
      color: #CDDC39; //底端字体颜色
  }

  footer .footer-below {
      padding: 25px 0;
      background-color: #233140; //底端条纹宽度&背景颜色
  }

  .custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;  // 文字框
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s; //文字间断阴影
}
